// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

// responsive margins and padding
$mg-left-big: 20vw;
$mg-left-medium: 10vw;
$mg-left-small: 5vw;

// COLOR VARIABLES
$color-primary: #0c5a9f;
$color-secondary: #f16055;
$color-tertiary: #073359;
$color-light: #faeddd;
$color-selection: #80f9e1;

// FONT VARIABLES
$font-display: 'Hurme Geometric Sans', sans-serif;
$font-serif: 'Josefin Slab', serif;
$font-head: 'GT Walsheim Pro', sans-serif;

@font-face {
  font-family: 'Hurme Geometric Sans';
  src: url('../hurme-geometric-sans/hurme_geometric_sans.woff') format('woff');
}

@font-face {
  font-family: 'Hurme Geometric Sans';
  src: url('../hurme-geometric-sans/hurme-geometric-sans-3-bold.woff')
    format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Hurme Geometric Sans';
  src: url('../hurme-geometric-sans/hurme_geometric_oblique.woff')
    format('woff');
  font-style: italic;
}

@font-face {
  font-family: 'Hurme Geometric Sans';
  src: url('../hurme-geometric-sans/hurme-geometric-sans-3-regular.woff')
    format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('../GT-Walsheim/GT-Walsheim-Pro-Medium.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('../GT-Walsheim/GT-Walsheim-Pro-Regular.woff') format('woff');
  font-weight: regular;
}

::selection {
  background-color: $color-selection;
}

/*** Mozilla based browsers ***/
::-moz-selection {
  background-color: $color-selection;
}

/***For Other Browsers ***/
::-o-selection {
  background-color: $color-selection;
}

::-ms-selection {
  background-color: $color-selection;
}

/*** For Webkit ***/
::-webkit-selection {
  background-color: $color-selection;
}

body {
  background-color: $color-light;
  @media only screen and (max-width: $bp-small) {
    background-color: #1c2427;
  }
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  // @media only screen and (max-width: $bp-medium) {
  //     font-size: 10%;
  // }
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
// my name at top of the page
.name {
  font-family: $font-head;
  font-weight: bold; // 400 w josefin
  color: $color-primary;
  font-size: 3rem;
  margin-left: 3vw;
  margin-top: 3vh;
  margin-bottom: 0;
  padding-right: 10vw;
  @media only screen and (max-width: $bp-medium) {
    margin-left: $mg-left-medium;
    margin-top: 7vh;
  }
  @media only screen and (max-width: $bp-small) {
    margin-left: $mg-left-small;
    margin-top: 5vh;
    color: #c1f3f4;
  }
}

.selector {
  display: flex;
  align-items: center;
  color: $color-secondary;
  cursor: pointer;
  &_chevron {
    margin-right: 10px;
    transition: all 0.1s ease-in;
    transform: rotate(-90deg);
    &-active {
      margin-right: 10px;
      transition: all 0.1s ease-in;
    }
  }
}

// red rectangle at top of page
.rectangle {
  background-color: $color-secondary;
  width: 22.8rem;
  height: 0.4rem;
  margin-left: 3vw;
  @media only screen and (max-width: 800px) {
    width: 30rem;
  }
  @media only screen and (max-width: $bp-medium) {
    margin-left: $mg-left-medium;
    width: 60vw;
  }
  @media only screen and (max-width: $bp-small) {
    margin-left: $mg-left-small;
    width: 85vw;
  }
}

// container for the about me paragraph and the column with the
// creative scholarly, etc.
.content {
  display: flex;
  margin-left: 3vw;
  margin-right: 5vw;
  width: 90vw;
  // background-color: lightcoral;
  min-height: 470px;
  transition: all 0.4s ease-in;
  @media only screen and (max-width: $bp-medium) {
    display: block;
    margin-left: $mg-left-medium;
    width: 60vw;
  }
  @media only screen and (max-width: $bp-small) {
    margin-left: $mg-left-small;
    width: 85vw;
  }
}

.links {
  max-width: 42%;
}

.medium {
  padding-left: 0;
}

// this is the paragraph on the left at full screen view
.about {
  // margin-left: 5vw;
  color: $color-tertiary;
  font-weight: 300;
  margin-top: 1rem;
  font-family: $font-display;
  margin-bottom: 0.3rem;
  width: 40rem;
  font-size: 1.3rem;
  padding-right: 2rem;
  &_email {
    padding-left: 0;
    color: inherit;
    &:hover {
      color: $color-primary;
    }
  }
  // @media only screen and (max-width: $bp-largest) {
  //     width: 29vw;
  // }
  // @media only screen and (max-width: $bp-large) {
  //     width: 40vw;
  // }
  @media only screen and (min-width: 700px) {
    max-width: 50%;
  }
  @media only screen and (max-width: $bp-medium) {
    width: 50vw;
  }
  @media only screen and (max-width: $bp-small) {
    width: 80vw;
    color: #e5e1c6;
  }
}

.edm {
  width: 60%;
  @media screen and (max-width: $bp-small) {
    width: 100%;
  }
}

.portfolio {
  // margin-left: 20vw;
  color: $color-secondary;

  font-family: $font-head;
  font-weight: regular;
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: 1.3rem;

  &_item {
    list-style: none;
    margin-left: -2.5rem;
    @media only screen and (min-width: 660px) {
      padding-right: 2rem;
    }
    @media only screen and (max-width: $bp-small) {
      padding-right: 1rem;
    }
  }
  &_subhead {
    // margin-left: 20vw;
    color: $color-primary;
    font-weight: 400;
    font-family: $font-head;
    margin-bottom: 0.3rem;
    margin-top: 0.5rem;
    font-size: 1rem;

    @media only screen and (min-width: 600px) {
      margin-left: 2rem;
    }
    @media only screen and (max-width: $bp-largest) {
      width: 29vw;
    }
    @media only screen and (max-width: $bp-large) {
      width: 40vw;
    }
    @media only screen and (max-width: $bp-medium) {
      width: 50vw;
    }
    @media only screen and (max-width: $bp-small) {
      width: 80vw;
      color: #c1f3f4;
    }
  }
  &_paragraph {
    // margin-left: 20vw;
    margin-top: 0;
    margin-bottom: 0;
    font-family: $font-display;
    color: $color-tertiary;
    // padding-right: 20vw;
    width: 100%;

    font-size: 1rem;
    line-height: 1.7rem;
    font-weight: 400;

    @media only screen and (min-width: 600px) {
      margin-left: 2rem;
    }
    @media only screen and (max-width: $bp-largest) {
      //   width: 50vw;
    }
    @media only screen and (max-width: $bp-large) {
      //   width: 40vw;
    }
    @media only screen and (max-width: $bp-medium) {
      //   width: 50vw;
      font-weight: 300;
    }
    @media only screen and (max-width: $bp-small) {
      font-size: 1.2rem;
      width: 80vw;
      color: #e5e1c6;
    }
  }
  &_link:visited,
  &_link:link {
    text-decoration: none;
    padding: 0.2rem;
    color: $color-tertiary;
    font-size: 1rem;
    background: linear-gradient(
      to bottom,
      $color-tertiary 0%,
      $color-tertiary 100%
    );
    @media only screen and (max-width: $bp-small) {
      background: none;
      border-bottom: 2px solid #1075cb;
    }
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 2px 2px;
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
    @media only screen and (max-width: $bp-small) {
      color: #e5e1c6;
    }
  }
  &_link:hover,
  &_link:active {
    cursor: pointer;
    background-size: 4px 50px;
    color: $color-light;
  }
}

/// this is the container for the links and my email at the bottom
.bottom {
  margin-left: 2vw;
  margin-right: 2vw;
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  align-items: center;
  @media only screen and (max-width: 700px) {
    display: block;
    margin-left: 0;
  }
  @media only screen and (min-width: $bp-medium) {
    // margin-top: 8rem;
  }

  .social {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    // margin-left: 5vw;
    &_link {
      padding: 1rem;
      color: $color-primary;
      @media only screen and (max-width: $bp-small) {
        color: #c1f3f4;
      }
    }
    @media only screen and (max-width: 700px) {
      margin-left: 0;
      margin-bottom: 0;
      display: flex;
      justify-content: center;
    }
  }
  &_email {
    color: $color-primary;
    font-size: 1rem;
    transform: translatey(2px);
    text-decoration: none;
    font-family: $font-display;
    @media only screen and (max-width: 700px) {
      transform: translatey(0);
      padding-top: 0.5rem;
      padding-bottom: 1rem;
      margin-left: 0;
      display: flex;
      justify-content: center;
    }
    @media only screen and (max-width: $bp-small) {
      color: #e5e1c6;
    }
  }
}

.fa-js,
.fa-sass,
.fa-react,
.fa-html5 {
  font-size: 2rem;
  margin-top: 0.5rem;
}

.code {
  margin-top: 8rem;
  @media only screen and (max-width: 800px) {
    margin-top: 2rem;
  }
  @media only screen and (max-width: $bp-small) {
    margin-top: 1rem;
  }
}
